</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
   <div class="footer-container">
      <div class="footer-space-1"></div>
      <div class="footer-content">
          <div class="footer-content-space-1"></div>
          <div class="footer-main">
              <div class="footer-main-11">
                  <div><a href="">Amebo</a></div>
              </div>
              <div class="footer-main-1">
                    <div><p>Pages</p></div>
                    <div><a href="/">Home</a></div>
                    <div><a href="/add-blog">Add Blog</a></div>
                    <div><a href="/subscribe">Subscribe</a></div>
              </div>
              <div class="footer-main-1">
                  <div><p>Categories</p></div>
                  <div><a href="/articles">All</a></div>
                  <div><a href="/articles">Culture</a></div>
                  <div><a href="/articles">People</a></div>
                  <div><a href="/articles">Lifestyle</a></div>
                  <div><a href="/login">Delete Blog</a></div>
              </div>
              <div class="footer-main-1">
                <div><p>Contact</p></div>
                <div><a href="">x(Twitter)</a></div>
                <div><a href="">LinkedIn</a></div>
                <div><a href="nxcorp@gmail.com">Email</a></div>
              </div>
          </div>
          <div class="footer-content-space-2"></div>
      </div>
      <div class="footer-space-2"></div>  
  </div>
</footer>
<script src="/js/index.js"></script>
</body>
</html>