<%- include("partials/header") %>

<form class="login-form" action="/subscribe" method="POST">      
    <input type="email" id="userEmail" name="userEmail" placeholder="Enter your email" required>
    <input type="password" id="userPassword" name="userPassword" placeholder="Enter your password" required>
    <button class="login-button" type="submit">submit</button>
</form>

<%- include("partials/footer") %>