<%- include("partials/header") %>

    <div class="subscribe-third-section-container">
        <div class="third-section-container-space-1"></div>
        <div class="third-section-content">
            <div class="third-section-content-space-1"></div>
            <div class="third-section-content-subscribe">
                <div class="third-section-content-subscribe-head">
                    <h2>Get the best sent to your<br>inbox, every month</h2>
                    <div class="third-section-content-subscribe-head-p"><p>Join our community of curious minds and get exclusive insights into technology, people, and culture delivered straight to your email.</p></div>
                </div>
                <div class="third-section-content-subscribe-form">
                    <form class="form" action="/subscribe" method="POST">      
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                        <button class="blogForm-button" type="submit">Subscribe</button>
                    </form>
                    <p>once monthly, no spam</p>
                </div>
            </div>
            <div class="third-section-content-space-2"></div>   
        </div>
        <div class="third-section-container-space-2"></div>
    </div>

<%- include("partials/footer") %>